[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openpyxl = "*"
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
django-guardian = "*"
pygments = "*"
pyyaml = "*"
uritemplate = "*"
pylint = "*"
pylint-django = "*"
djangochannelsrestframework = "*"
django-cors-headers = "*"
daphne = "*"

[dev-packages]

[requires]
python_version = "3.9"
